{% extends 'home/base.html' %}
{% block content %}
  <div class="container mt-5">
    <h2>Liste des Transactions</h2>
    <a href="{% url 'ajouter_transaction' %}" class="btn btn-success mb-3">Ajouter une Transaction</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Client</th>
          <th>Date</th>
          <th>Montant total</th>
          <th>Produits/Services</th>
          <th>Payé</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.client.nom }}</td>
            <td>{{ transaction.date_emission }}</td>
            <td>{{ transaction.montant_total }}</td>
            <td>
              {% for ligne in transaction.lignes.all %}
                {{ ligne.produit_service.nom }} ({{ ligne.quantite }}) - {{ ligne.montant }}€
                <br>
              {% endfor %}
            </td>
            <td>{{ transaction.paye }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
