<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion Secrétariat{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Gestion Secrétariat</a>
        <div>
          <a class="nav-link text-light" href="{% url 'ajouter_produit_ou_service' %}">Ajouter une action</a>
          <a class="nav-link text-light" href="{% url 'liste_produits_services' %}">Liste des Produits et Services</a>
          <a class="nav-link text-light" href="{% url 'ajouter_client' %}">Ajouter un Client</a>
          <a class="nav-link text-light" href="{% url 'liste_transactions' %}">Transactions</a>
          <a class="nav-link text-light" href="{% url 'liste_factures' %}">Voir la liste des factures</a>

          {% if facture %}
            <a href="{% url 'generer_factures' facture_id=facture.id %}">
                Générer la facture PDF
            </a>        
          {% else %}
              <p>Aucune facture disponible</p>
          {% endif %} 
        </div>
      </div>
    </nav>
    <main class="container mt-5">
      {% block content %}{% endblock %}
    </main>
    <footer class="text-center mt-5">
      <p>&copy; 2024 Gestion Secrétariat - Tous droits réservés.</p>
    </footer>
</body>
</html>
