{% extends 'home/base.html' %} <!-- On étend le template de base -->

{% block title %}Page d'Accueil - Gestion Secrétariat{% endblock %}

{% block content %}
    <div class="hero">
        <h1>Bienvenue dans MAIGA GLOBAL SERVICE</h1>
        <p>AU SERVICE DU BIEN ETRE DE LA CLIENTELLE</p>
    </div>

    <div class="buttons-container text-center">
        <div class="row">
            <!-- Ajouter une action -->
            <div class="col-md-3 mb-4">
                <a href="{% url 'ajouter_produit_ou_service' %}" class="btn btn-secondary btn-custom">
                    <i class="fas fa-tasks fa-3x"></i>
                    <p class="mt-2">Ajouter une action</p>
                </a>
            </div>

            <!-- Produits & Services -->
            <div class="col-md-3 mb-4">
                <a href="{% url 'liste_produits_services' %}" class="btn btn-secondary btn-custom">
                    <i class="fas fa-box fa-3x"></i>
                    <p class="mt-2">Produits & Services</p>
                </a>
            </div>

            <!-- Ajouter un Client -->
            <div class="col-md-3 mb-4">
                <a href="{% url 'ajouter_client' %}" class="btn btn-secondary btn-custom">
                    <i class="fas fa-user-plus fa-3x"></i>
                    <p class="mt-2">Ajouter un Client</p>
                </a>
            </div>

            <!-- Créer une Facture -->
            <div class="col-md-3 mb-4">
                <a href="{% url 'factures:creer_facture' %}" class="btn btn-secondary btn-custom">
                    <i class="fas fa-file-invoice-dollar fa-3x"></i>
                    <p class="mt-2">Créer une Facture</p>
                </a>
            </div>

            <!-- Factures -->
            <div class="col-md-3 mb-4">
                <a href="{% url 'factures:liste_factures' %}" class="btn btn-secondary btn-custom">
                    <i class="fas fa-file-alt fa-3x"></i>
                    <p class="mt-2">Factures</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}